<div class="not-found">
<div class="main">
  <div class="msg">Page not found</div>
  <div class="error">
    <div class="f1">4</div>
    <div class="circle">
      <div class="smalldot"></div>
    </div>
    <div class="f2">4</div>
  </div>
  <div class="info">We can't seem to find page <br> you're looking for.</div>
  <div class="btn"><a [routerLink]="['/']">Back to site</a></div>
</div>
  <div class="ring"></div>
  <div class="dusk d1"></div>
  <div class="dusk d2"></div>
  <div class="dusk d3"></div>
  <div class="dusk d4"></div>
  <div class="dusk d5"></div>
  <div class="dusk d6"></div>
  <div class="dusk d7"></div>
  <div class="dusk d8"></div>
  <div class="dusk d9"></div>
</div>
